# UTF-8
VSVersionInfo(
  ffi=FixedFileInfo(
    filevers=(__VERSION_PARTS__),
    prodvers=(__VERSION_PARTS__),
    mask=0x3f,
    flags=0x0,
    OS=0x40004,
    fileType=0x1,
    subtype=0x0,
    date=(0, 0)
  ),
  kids=[
    StringFileInfo(
      [
        StringTable(
          u'080404b0',
          [
            StringStruct(u'CompanyName', u'VideoToNo'),
            StringStruct(u'FileDescription', u'VideoToNo - 本地视频笔记（便携版）'),
            StringStruct(u'FileVersion', u'__VERSION__'),
            StringStruct(u'InternalName', u'VideoToNo'),
            StringStruct(u'LegalCopyright', u'MIT License'),
            StringStruct(u'OriginalFilename', u'VideoToNo.exe'),
            StringStruct(u'ProductName', u'VideoToNo'),
            StringStruct(u'ProductVersion', u'__VERSION__')
          ]
        )
      ]
    ),
    VarFileInfo([VarStruct(u'Translation', [2052, 1200])])
  ]
)
